/****** Extra extra small devices (376px and below) *******/
@media (max-width: 376px) {
  /************apple*************/
  .apple .grandfather .father .up .first h1,
  .ball .grandmother .mother .down .forth h1 {
    font-size: 30px !important;
  }
  .apple .grandfather .father .up .first span {
    font-size: 40px !important;
  }
  .apple .grandfather .father .up .first p,
  .ball .grandmother .mother .down .forth p {
    font-size: 15px !important;
  }
  .apple .grandfather .father .up .first .btn,
  .ball .grandmother .mother .down .forth .btn,
  .chat .grandfather .father .banner button {
    padding: 15px 20px !important;
  }
  .apple .grandfather .father .up .second .sibling .elder img {
    -webkit-transform: translate(70%, 5%) !important;
            transform: translate(70%, 5%) !important;
  }
  .apple .grandfather .father .up .second .sibling .younger img {
    width: 40px !important;
    height: 40px !important;
    top: -45px !important;
    right: 50px !important;
  }
  /************ball*************/
  .ball .grandmother .mother {
    height: 500px;
  }
  .ball .grandmother .mother .down .forth {
    padding-right: 30px !important;
  }
  .ball .grandmother .mother .down .forth .btn,
  .chat .grandfather .father .banner button {
    padding: 10px 10px !important;
  }
  .ball .grandmother .mother .down .third .sibling .elder img {
    right: 30% !important;
    -webkit-transform: translate(-5%, -20%) !important;
            transform: translate(-5%, -20%) !important;
  }
  .ball .grandmother .mother .down .third .sibling .younger img {
    width: 40px !important;
    height: 40px !important;
    left: 40px !important;
    top: 100px !important;
  }
  /************course*************/
  .course .grandfather .father {
    top: 1200px !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0px 30px;
  }
  .course .grandfather .father .design .card_anim h3 {
    top: 200px;
    left: 80px !important;
  }
  .course .grandfather .father .design .card_anim h1 {
    bottom: 150px;
  }
  /************chat*************/
  .chat .grandfather .father {
    top: 3200px !important;
    left: 50% !important;
    padding: 0px 30px !important;
  }
  .chat .banner h1 {
    font-size: 30px !important;
    top: 22px !important;
    left: 40px !important;
  }
  .chat .grandfather .father .banner button {
    -webkit-transform: translate(25%, -45%) !important;
            transform: translate(25%, -45%) !important;
  }
  /************footer*************/
  footer .grandfather .father {
    top: 3300px !important;
    padding: 40px;
    width: 90%;
    left: 3%;
  }
  footer .grandfather .father p {
    font-size: 30px;
  }
  footer .grandfather .father ul img {
    margin-bottom: 10px !important;
  }
}

/****** mobile devices(sm) (below 576px) *******/
@media (max-width: 575.98px) {
  .apple .grandfather .father .up .second .sibling .elder img {
    width: 50%;
    -webkit-transform: translate(90%, 15%);
            transform: translate(90%, 15%);
  }
  .apple .grandfather .father .up .second .sibling .younger img {
    width: 60px;
    height: 60px;
    top: -10px;
    right: 40px;
  }
  .ball .grandmother .mother {
    -webkit-transform: translate(-50%, 85%);
            transform: translate(-50%, 85%);
  }
  .ball .grandmother .mother .down .third .sibling .elder img {
    top: 50%;
    right: 0%;
    width: 50%;
    -webkit-transform: translate(-5%, -75%);
            transform: translate(-5%, -75%);
  }
  .ball .grandmother .mother .down .third .sibling .younger img {
    width: 60px;
    height: 60px;
    left: 190px;
    top: 10px;
  }
  .apple .grandfather .father .up .first h1,
  .ball .grandmother .mother .down .forth h1 {
    font-size: 50px;
  }
  .apple .grandfather .father .up .first p,
  .ball .grandmother .mother .down .forth p {
    font-size: 25px;
  }
  .ball .grandmother .mother .down .forth {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .ball .grandmother .mother .down .third {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .course .grandfather .father {
    top: 1500px;
  }
  .card_anim:focus span {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .card_anim:focus h1 {
    opacity: 1;
  }
  .card_anim:focus h3 {
    opacity: 0;
  }
  .chat .grandfather .father {
    position: absolute;
    width: 100%;
    top: 3500px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .chat .banner h1 {
    font-size: 30px !important;
    top: 22px !important;
    left: 40px !important;
  }
  footer .grandfather .father {
    top: 3600px;
    padding: 40px;
  }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .ball .grandmother .mother .down .third .sibling .younger img {
    position: absolute;
    top: 150px;
    left: 0px;
  }
  .course .grandfather .father .design .card_anim h3 {
    top: 170px;
    left: 100px;
  }
  .course .grandfather .father .design .card_anim h1 {
    bottom: 150px;
  }
  .chat .grandfather .father .banner h1 {
    top: 80px;
  }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .apple .grandfather .father .second .sibling .younger img {
    width: 70px;
    height: 70px;
    top: 100px;
    right: 60px;
  }
  .ball .grandmother .mother .down .third .sibling .younger img {
    width: 70px;
    height: 70px;
    top: 100px;
    left: 0px;
  }
  .course .grandfather .father .design .card_anim h3 {
    top: 200px;
    left: 60px;
  }
  .course .grandfather .father .design .card_anim h1 {
    bottom: 175px;
  }
  .chat .grandfather .father .banner h1 {
    top: 50px;
    left: 80px;
  }
}
/*# sourceMappingURL=media.css.map */