@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Bebas Neue", cursive;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  padding: 0px 20px;
}

.apple .grandfather .father .up, .ball .grandmother .mother .down, .course .grandfather .father .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apple .grandfather .father .up .first h1, .ball .grandmother .mother .down .forth h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: #2c2c2c;
  letter-spacing: 2.5px;
  line-height: 20px;
}

.apple .grandfather .father .up .first p, .ball .grandmother .mother .down .forth p {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #333 !important;
  font-family: "Poppins", sans-serif !important;
}

.apple .grandfather .father .up .first .btn, .ball .grandmother .mother .down .forth .btn {
  background-color: #dc3545 !important;
  padding: 20px 30px;
  border: 0;
  border-radius: 10px;
  color: white;
  letter-spacing: 2.5px;
}

.course .grandfather .father .design .card_anim .box img {
  -webkit-animation: myAnimation;
          animation: myAnimation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes myAnimation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes myAnimation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

header .navbar {
  z-index: 999;
}

header .navbar ul .nav-link {
  display: block;
  font-size: 25px;
  color: #333;
  margin: 0px 10px;
  letter-spacing: 1.5px;
  border-radius: 10px;
}

header .navbar ul .nav-link:hover {
  background: black;
  color: #fff;
}

.apple .grandfather {
  position: relative;
}

.apple .grandfather .father {
  height: 800px;
  z-index: 998;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

.apple .grandfather .father .up .first {
  float: left;
  margin: 150px 0px;
}

.apple .grandfather .father .up .first span {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: #ff8367;
  letter-spacing: 3.5px;
}

.apple .grandfather .father .up .second {
  float: right;
}

.apple .grandfather .father .up .second .sibling {
  position: relative;
}

.apple .grandfather .father .up .second .sibling .elder {
  position: relative;
}

.apple .grandfather .father .up .second .sibling .elder img {
  width: 70%;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 55%);
          transform: translate(50%, 55%);
  z-index: 5;
}

.apple .grandfather .father .up .second .sibling .younger img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 170px;
  right: 90px;
  z-index: 6;
}

.ball .grandmother {
  position: relative;
}

.ball .grandmother .mother {
  height: 800px;
  z-index: 999;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, 70%);
          transform: translate(-50%, 70%);
}

.ball .grandmother .mother .down .third {
  float: left;
}

.ball .grandmother .mother .down .third .sibling {
  position: relative;
}

.ball .grandmother .mother .down .third .sibling .elder img {
  width: 70%;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(30%, 55%);
          transform: translate(30%, 55%);
  z-index: 5;
}

.ball .grandmother .mother .down .third .sibling .younger img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 200px;
  left: -15px;
  z-index: 6;
}

.ball .grandmother .mother .down .forth {
  float: right;
  margin-top: 50px;
}

.ball .grandmother .mother .down .forth h1 {
  margin: 20px 10px;
}

.ball .grandmother .mother .down .forth p {
  font-size: 20px;
  padding: 20px 10px;
}

.ball .grandmother .mother .down .forth .btn span .fas {
  color: #fff !important;
  font-size: 20px;
}

.course .grandfather {
  position: relative;
}

.course .grandfather .father {
  height: 1200px;
  z-index: 999;
  position: absolute;
  width: 100%;
  top: 1300px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.course .grandfather .father .heading h1 {
  text-align: center;
}

.course .grandfather .father .design .only_card .card-img-top {
  border-radius: 10px;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.course .grandfather .father .design .card_carousel .carousel {
  width: 100%;
}

.course .grandfather .father .design .card_carousel .carousel button {
  width: 20px;
  height: 20px;
  border-radius: 50% !important;
}

.course .grandfather .father .design .card_carousel .carousel .carousel-inner {
  border-radius: 10px;
}

.course .grandfather .father .design .card_carousel .carousel .carousel-inner img {
  border-radius: 10px;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.course .grandfather .father .design .card_anim .box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.course .grandfather .father .design .card_anim .box img {
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */