@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Bebas Neue", cursive;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.apple .grandfather .father .up, .ball .grandmother .mother .down, .course .grandfather .father .heading, footer .grandfather .father ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apple .grandfather .father .up .first h1, .ball .grandmother .mother .down .forth h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: #2c2c2c;
  letter-spacing: 2.5px;
  line-height: 20px;
}

.apple .grandfather .father .up .first p, .ball .grandmother .mother .down .forth p {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #333 !important;
  font-family: "Poppins", sans-serif !important;
}

.apple .grandfather .father .up .first .button, .ball .grandmother .mother .down .forth .button, .chat .grandfather .father .banner .button {
  border-radius: 4px;
  background-color: #dc3545;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.apple .grandfather .father .up .first .button span, .ball .grandmother .mother .down .forth .button span, .chat .grandfather .father .banner .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  text-transform: uppercase;
}

.apple .grandfather .father .up .first .button span::after, .ball .grandmother .mother .down .forth .button span::after, .chat .grandfather .father .banner .button span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.apple .grandfather .father .up .first .button:hover span, .ball .grandmother .mother .down .forth .button:hover span, .chat .grandfather .father .banner .button:hover span {
  padding-right: 25px;
}

.apple .grandfather .father .up .first .button:hover span:after, .ball .grandmother .mother .down .forth .button:hover span:after, .chat .grandfather .father .banner .button:hover span:after {
  opacity: 1;
  right: 0;
}

.apple .grandfather .father .up .first .button:hover, .ball .grandmother .mother .down .forth .button:hover, .chat .grandfather .father .banner .button:hover, .apple .grandfather .father .up .first .button:focus, .ball .grandmother .mother .down .forth .button:focus, .chat .grandfather .father .banner .button:focus {
  color: #fff;
  background: black;
}

.course .grandfather .father .design .card_anim .box img {
  -webkit-animation: myAnimation;
          animation: myAnimation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes myAnimation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes myAnimation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

header nav .menuToggle {
  width: 50px;
  padding: 0;
  border: 0;
}

header nav .menuToggle span {
  display: block;
  width: 70px;
  height: 5px;
  background: #333;
  margin: auto;
  margin-bottom: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

header nav .menuToggle span:first-child {
  width: 50%;
}

header nav .menuToggle span:last-child {
  width: 30%;
}

header nav .menuToggle:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

header nav .menuToggle:hover span {
  width: 100%;
}

header .navbar {
  z-index: 999;
}

header .navbar ul .nav-link {
  display: inline-block;
  font-size: 25px;
  color: #333;
  margin: 0px 10px;
  letter-spacing: 1.5px;
  border-radius: 10px;
}

header .navbar ul .nav-link:hover {
  background: black;
  color: #fff;
}

.apple .grandfather {
  position: relative;
}

.apple .grandfather .father {
  height: 800px;
  z-index: 998;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

.apple .grandfather .father .up .first {
  float: left;
  margin: 150px 0px;
}

.apple .grandfather .father .up .first strong {
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  color: #ff8367;
  letter-spacing: 2.5px;
}

.apple .grandfather .father .second {
  float: right;
}

.apple .grandfather .father .second .sibling {
  position: relative;
}

.apple .grandfather .father .second .sibling .elder {
  position: relative;
}

.apple .grandfather .father .second .sibling .elder img {
  width: 70%;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 55%);
          transform: translate(50%, 55%);
  z-index: 5;
}

.apple .grandfather .father .second .sibling .younger img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 170px;
  right: 90px;
  z-index: 6;
}

.ball .grandmother {
  position: relative;
}

.ball .grandmother .mother {
  height: 800px;
  z-index: 999;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, 70%);
          transform: translate(-50%, 70%);
}

.ball .grandmother .mother .down .third {
  float: left;
}

.ball .grandmother .mother .down .third .sibling {
  position: relative;
}

.ball .grandmother .mother .down .third .sibling .elder img {
  width: 70%;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(30%, 55%);
          transform: translate(30%, 55%);
  z-index: 5;
}

.ball .grandmother .mother .down .third .sibling .younger img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 200px;
  left: -15px;
  z-index: 6;
}

.ball .grandmother .mother .down .forth {
  float: right;
  margin-top: 50px;
}

.ball .grandmother .mother .down .forth h1 {
  margin: 20px 10px;
}

.ball .grandmother .mother .down .forth p {
  font-size: 20px;
  padding: 20px 10px;
}

.ball .grandmother .mother .down .forth .button:hover, .ball .grandmother .mother .down .forth .button:focus {
  color: #fff;
  background: black;
}

.ball .grandmother .mother .down .forth .button span .fas {
  color: #fff !important;
  font-size: 20px;
}

.course .grandfather {
  position: relative;
}

.course .grandfather .father {
  height: 1200px;
  z-index: 999;
  position: absolute;
  width: 100%;
  top: 1300px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.course .grandfather .father .heading h1 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 1.5px;
}

.course .grandfather .father .heading h1 strong {
  color: #d33c3c;
}

.course .grandfather .father .design .card {
  border: 0 !important;
  padding: 0px 10px;
  border-radius: 15px;
}

.course .grandfather .father .design .card-body h5 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  font-size: 22px;
}

.course .grandfather .father .design .only_card {
  border-radius: 15px;
}

.course .grandfather .father .design .only_card:hover, .course .grandfather .father .design .only_card:focus {
  -webkit-box-shadow: 3px 3px 20px 0px #3d3939, 0px 0px 11px 0px #575151;
          box-shadow: 3px 3px 20px 0px #3d3939, 0px 0px 11px 0px #575151;
}

.course .grandfather .father .design .only_card .card-img-top {
  border-radius: 10px;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.course .grandfather .father .design .card_carousel {
  border-radius: 15px;
}

.course .grandfather .father .design .card_carousel:hover, .course .grandfather .father .design .card_carousel:focus {
  -webkit-box-shadow: 3px 3px 20px 0px #3d3939, 0px 0px 11px 0px #575151;
          box-shadow: 3px 3px 20px 0px #3d3939, 0px 0px 11px 0px #575151;
}

.course .grandfather .father .design .card_carousel .carousel {
  width: 100%;
}

.course .grandfather .father .design .card_carousel .carousel button {
  width: 20px;
  height: 20px;
  border-radius: 50% !important;
}

.course .grandfather .father .design .card_carousel .carousel .carousel-inner {
  border-radius: 10px;
}

.course .grandfather .father .design .card_carousel .carousel .carousel-inner img {
  border-radius: 10px;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.course .grandfather .father .design .card_anim {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.course .grandfather .father .design .card_anim:hover, .course .grandfather .father .design .card_anim:focus {
  -webkit-box-shadow: 3px 3px 20px 0px #3d3939, 0px 0px 11px 0px #575151;
          box-shadow: 3px 3px 20px 0px #3d3939, 0px 0px 11px 0px #575151;
}

.course .grandfather .father .design .card_anim span {
  position: absolute;
  top: -25px;
  right: -35px;
  width: 200px;
  font-size: 30px;
  height: 200px;
  border-radius: 50%;
  background: red;
  color: #fff;
  text-align: center;
  padding: 50px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 8;
  opacity: 0;
}

.course .grandfather .father .design .card_anim h1 {
  position: absolute;
  bottom: 120px;
  left: 10px;
  color: #cb0b0b;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 8;
  opacity: 0;
}

.course .grandfather .father .design .card_anim h3 {
  position: absolute;
  font-size: 20px;
  color: white;
  top: 200px;
  left: 150px;
  border: 5px solid #048b58;
  background-clip: content-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 15px;
}

.course .grandfather .father .design .card_anim .box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.course .grandfather .father .design .card_anim .box img {
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 7;
}

.course .grandfather .father .design .card_anim:hover span {
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.course .grandfather .father .design .card_anim:hover h1 {
  opacity: 1;
}

.course .grandfather .father .design .card_anim:hover h3 {
  opacity: 0;
}

.chat .grandfather {
  position: relative;
}

.chat .grandfather .father {
  z-index: 9999;
  position: absolute;
  width: 100%;
  top: 2100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.chat .grandfather .father .banner {
  text-align: center;
}

.chat .grandfather .father .banner img {
  z-index: 10;
}

.chat .grandfather .father .banner h1 {
  position: absolute;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  top: 120px;
  left: 120px;
}

.chat .grandfather .father .banner .button {
  position: absolute;
  top: 50%;
  right: 20%;
  -webkit-transform: translate(20%, -50%);
          transform: translate(20%, -50%);
}

footer .grandfather {
  position: relative;
}

footer .grandfather .father {
  position: absolute;
  width: 100%;
  top: 2430px;
}

footer .grandfather .father h5 {
  font-size: 25px;
  font-weight: 400;
  color: #333;
  text-align: center;
  line-height: 2px;
  padding: 10px 0px;
}

footer .grandfather .father p {
  font-size: 40px;
  font-weight: 700;
  color: #333;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 10px 0px;
}

footer .grandfather .father ul li {
  text-align: center;
}

footer .grandfather .father ul img {
  width: 50%;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */