@media (max-width: 575.98px) {
  .apple .grandfather .father .up .second .sibling .elder img {
    width: 50%;
    transform: translate(90%, 15%);
  }

  .apple .grandfather .father .up .second .sibling .younger img {
    width: 60px;
    height: 60px;
    top: -10px;
    right: 40px;
  }
  .ball .grandmother .mother {
    transform: translate(-50%, 85%);
  }

  .ball .grandmother .mother .down .third .sibling .elder img {
    top: 50%;
    right: 0%;
    width: 50%;
    transform: translate(-5%, -75%);
  }

  .ball .grandmother .mother .down .third .sibling .younger img {
    width: 60px;
    height: 60px;
    left: 190px;
    top: 10px;
  }
  .apple .grandfather .father .up .first h1,
  .ball .grandmother .mother .down .forth h1 {
    font-size: 50px;
  }
  .apple .grandfather .father .up .first p,
  .ball .grandmother .mother .down .forth p {
    font-size: 25px;
  }
  .ball .grandmother .mother .down .forth {
    order: -1;
  }
  .ball .grandmother .mother .down .third {
    order: 0;
  }
  .course .grandfather .father {
    top: 1500px;
  }

  .card_anim {
    &:focus span {
      opacity: 1;
      transform: scale(1.5);
    }
    &:focus h1 {
      opacity: 1;
    }
    &:focus h3 {
      opacity: 0;
    }
  }

  .chat .grandfather .father {
    position: absolute;
    width: 100%;
    top: 3400px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .chat .banner h1 {
    font-size: 40px !important;
    top: 35px !important;
    left: 48px !important;
  }

  footer .grandfather .father {
    top: 3500px;
    padding: 40px;
  }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .ball .grandmother .mother .down .third .sibling .younger img {
    position: absolute;
    top: 150px;
    left: 0px;
  }
  .course .grandfather .father .design .card_anim h3 {
    top: 170px;
    left: 100px;
  }
  .course .grandfather .father .design .card_anim h1 {
    bottom: 150px;
  }
  .chat .grandfather .father .banner h1 {
    top: 80px;
  }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .apple .grandfather .father .second .sibling .younger img {
    width: 70px;
    height: 70px;
    top: 100px;
    right: 60px;
  }

  .ball .grandmother .mother .down .third .sibling .younger img {
    width: 70px;
    height: 70px;
    top: 100px;
    left: 0px;
  }
  .course .grandfather .father .design .card_anim h3 {
    top: 200px;
    left: 60px;
  }
  .course .grandfather .father .design .card_anim h1 {
    bottom: 175px;
  }
  .chat .grandfather .father .banner h1 {
    top: 50px;
    left: 80px;
  }
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
  .apple .grandfather .father .up .second .sibling .younger img {
    width: 50px !important;
    height: 50px !important;
    top: -10px !important;
    right: 15px !important;
  }
  .course .grandfather .father {
    top: 1700px !important;
  }
  .chat .grandfather .father {
    top: 3580px;
  }
  .chat .banner h1 {
    font-size: 25px !important;
    top: 25px !important;
    left: 25px !important;
  }
}
