@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap");

// font-family: 'Bebas Neue', cursive;
// font-family: 'Poppins', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Bebas Neue", cursive;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  // padding: 0px 20px;
}

%flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

$themeColor: #fff;

%h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: #2c2c2c;
  letter-spacing: 2.5px;
  line-height: 20px;
}
%p {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #333 !important;
  font-family: "Poppins", sans-serif !important;
}

%btn {
  border-radius: 4px;
  background-color: #dc3545;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px 0px;

  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
    text-transform: uppercase;
    &::after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }
  &:hover span {
    padding-right: 25px;
  }

  &:hover span:after {
    opacity: 1;
    right: 0;
  }
  &:hover,
  &:focus {
    color: #fff;
    background: black;
  }
}
%animation {
  animation: myAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes myAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

header {
  nav {
    .menuToggle {
      width: 50px;
      padding: 0;
      border: 0;
      span {
        display: block;
        width: 70px;
        height: 5px;
        background: #333;
        margin: auto;
        margin-bottom: 5px;
        transition-duration: 0.3s;
      }
      span:first-child {
        width: 50%;
      }
      span:last-child {
        width: 30%;
      }
      &:focus {
        box-shadow: 0 0 0 0;
      }
      &:hover span {
        width: 100%;
      }
    }
  }
  .navbar {
    z-index: 999;
    ul {
      .nav-link {
        display: inline-block;
        font-size: 25px;
        color: #333;
        margin: 0px 10px;
        letter-spacing: 1.5px;
        border-radius: 10px;
        &:hover {
          background: black;
          color: #fff;
        }
      }
    }
  }
}

.apple {
  .grandfather {
    position: relative;
    .father {
      height: 800px;
      z-index: 998;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -5%);
      .up {
        @extend %flex;
        .first {
          float: left;
          margin: 150px 0px;
          h1 {
            @extend %h1;
          }
          strong {
            text-transform: uppercase;
            font-size: 75px;
            font-weight: 700;
            color: #ff8367;
            letter-spacing: 2.5px;
          }
          p {
            @extend %p;
          }
          .button {
            @extend %btn;
          }
        }
      }
      .second {
        float: right;
        .sibling {
          position: relative;
          .elder {
            position: relative;
            img {
              width: 70%;
              position: absolute;
              bottom: 50%;
              right: 50%;
              transform: translate(50%, 55%);
              z-index: 5;
            }
          }
          .younger img {
            position: absolute;
            width: 100px;
            height: 100px;
            top: 170px;
            right: 90px;
            z-index: 6;
          }
        }
      }
    }
  }
}

.ball {
  .grandmother {
    position: relative;
    .mother {
      height: 800px;
      z-index: 999;
      position: absolute;
      width: 100%;
      top: 60%;
      left: 50%;
      transform: translate(-50%, 70%);
      .down {
        @extend %flex;
        .third {
          float: left;
          .sibling {
            position: relative;
            .elder img {
              width: 70%;
              position: absolute;
              bottom: 50%;
              right: 50%;
              transform: translate(30%, 55%);
              z-index: 5;
            }
            .younger img {
              position: absolute;
              width: 100px;
              height: 100px;
              top: 200px;
              left: -15px;
              z-index: 6;
            }
          }
        }
        .forth {
          float: right;
          margin-top: 50px;
          h1 {
            @extend %h1;
            margin: 20px 10px;
          }
          p {
            @extend %p;
            font-size: 20px;
            padding: 20px 10px;
          }
          .button {
            @extend %btn;
            &:hover,
            &:focus {
              color: #fff;
              background: black;
            }
            span {
              .fas {
                color: #fff !important;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.course {
  .grandfather {
    position: relative;
    .father {
      height: 1200px;
      z-index: 999;
      position: absolute;
      width: 100%;
      top: 1300px;
      left: 50%;
      transform: translateX(-50%);
      .heading {
        @extend %flex;
        h1 {
          text-align: center;
          font-size: 40px;
          letter-spacing: 1.5px;
          strong {
            color: #d33c3c;
          }
        }
      }
      .design {
        .card {
          border: 0 !important;
          padding: 0px 10px;
          border-radius: 15px;
        }
        .card-body {
          h5 {
            margin-bottom: 0.5rem;
            font-weight: 600;
            letter-spacing: 1.2px;
            font-size: 22px;
          }
        }
        .only_card {
          border-radius: 15px;
          &:hover,
          &:focus {
            box-shadow: 3px 3px 20px 0px #3d3939, 0px 0px 11px 0px #575151;
          }
          .card-img-top {
            border-radius: 10px;
            height: 60vh;
            object-fit: cover;
            object-position: center;
          }
        }
        .card_carousel {
          border-radius: 15px;
          &:hover,
          &:focus {
            box-shadow: 3px 3px 20px 0px #3d3939, 0px 0px 11px 0px #575151;
          }
          .carousel {
            width: 100%;
            button {
              width: 20px;
              height: 20px;
              border-radius: 50% !important;
            }
            .carousel-inner {
              border-radius: 10px;
              img {
                border-radius: 10px;
                height: 60vh;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }
        .card_anim {
          position: relative;
          overflow: hidden;
          border-radius: 15px;
          &:hover,
          &:focus {
            box-shadow: 3px 3px 20px 0px #3d3939, 0px 0px 11px 0px #575151;
          }
          span {
            position: absolute;
            top: -25px;
            right: -35px;
            width: 200px;
            font-size: 30px;
            height: 200px;
            border-radius: 50%;
            background: red;
            color: #fff;
            text-align: center;
            padding: 50px;
            transform: scale(0.5);
            transition: all 0.3s linear;
            z-index: 8;
            opacity: 0;
          }
          h1 {
            position: absolute;
            bottom: 120px;
            left: 10px;
            color: #cb0b0b;
            transition: all 0.3s linear;
            z-index: 8;
            opacity: 0;
          }

          h3 {
            position: absolute;
            font-size: 20px;
            color: white;
            top: 200px;
            left: 150px;
            border: 5px solid #048b58;
            background-clip: content-box;
            transition: all 0.3s linear;
            padding: 15px;
          }
          .box {
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            img {
              height: 60vh;
              object-fit: cover;
              object-position: center;
              @extend %animation;
              z-index: 7;
            }
          }
          &:hover span {
            opacity: 1;
            transform: scale(1.5);
          }
          &:hover h1 {
            opacity: 1;
          }
          &:hover h3 {
            opacity: 0;
          }
        }
      }
    }
  }
}

.chat {
  .grandfather {
    position: relative;
    .father {
      z-index: 9999;
      position: absolute;
      width: 100%;
      top: 2100px;
      left: 50%;
      transform: translateX(-50%);
      .banner {
        text-align: center;
        img {
          z-index: 10;
        }
        h1 {
          position: absolute;
          font-size: 64px;
          font-weight: 700;
          color: #fff;
          top: 120px;
          left: 120px;
        }

        .button {
          @extend %btn;
          position: absolute;
          top: 50%;
          right: 20%;
          transform: translate(20%, -80%);
        }
      }
    }
  }
}

footer {
  .grandfather {
    position: relative;
    .father {
      position: absolute;
      width: 100%;
      top: 2430px;
      h5 {
        font-size: 25px;
        font-weight: 400;
        color: #333;
        text-align: center;
        line-height: 2px;
        padding: 10px 0px;
      }
      p {
        font-size: 40px;
        font-weight: 700;
        color: #333;
        letter-spacing: 1.5px;
        text-align: center;
        padding: 10px 0px;
      }
      ul {
        @extend %flex;
        li {
          text-align: center;
        }
        img {
          width: 50%;
          margin: auto;
        }
      }
    }
  }
}
